body{font-family: sans-serif}
.panelBut {font-size: large;text-align: center;  color: darkgreen; background-color: aquamarine; padding: 5px; margin:2px; border: 2px solid blue; border-radius: 10% }

.panel{display:flex; flex-direction: row; padding: 2%; flex-wrap: wrap }
.appHeader{margin: 3%; font-size:x-large; color:brown; border: 5% solid crimson}
.contenter{margin:2%; padding:2%; color: bisque; background-color: darkmagenta; border: 10px solid blue}
.selectedPanelBut {z-index: 3;box-shadow: 1px 3px lightcoral;font-size: large;text-align: center; width:10%; color: white; background-color: maroon; padding: 5px; margin:2px; border: 2px solid blue; border-radius: 10% }
.addBut {font-size: x-large;text-align: center;  color: whitesmoke; background-color: darkblue; padding: 2px; margin:2px; border: 2px solid blue; border-radius: 10% }